header {
    justify-content: flex-end;
}

#login-fs {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-button {
    width: fit-content;
    align-self: flex-end;
}